@charset "UTF-8";

body {
    margin: 0px auto;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffaef;
}

.header-moderno {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #fffaef;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);

    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fffaef;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

#logo_brown {
    width: 70px;
    height: auto;
}

#logo_sem {
    width: 200px;
    height: auto;
}

/* MENU NORMAL (DESKTOP) */
nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #55230d;
    font-weight: 600;
    transition: 0.3s;
}

nav ul li a:hover {
    padding: 5px;
    border-radius: 3px;
    background-color: #55230d;
    color: #fffaef;
}


/* BOTÃO HAMBÚRGUER */
.menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: #55230d;
    cursor: pointer;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    nav {
        display: none;
        position: absolute;
        top: 75px;
        right: 0;
        width: 100%;
        background-color: #fffaef;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        gap: 15px;
    }

    nav.active {
        display: block;
    }

    
.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

    #logo_sem {
        width: 150px;
    }

    #logo_brown {
        width: 50px;
    }

}

main {
    background-color: #fffaef;
    max-width: 100%;
}

.inicio {
    margin-top: 150px;
    max-width: 100%;
    background-color: #fffaef;
    padding: 30px;
    color: #55230d;
}

.inicio h2 {
    text-align: justify;
    line-height: 2em;
}

.inicio p {
    text-indent: 20px;
    text-align: justify;
    line-height: 2em;
    font-size: larger;
}

.produtos {
    padding: 50px;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    color: #55230d;
    background-color: #55230d;
}


.card1 {
    display: flex;
    background-color: #fffaef;
    border-radius: 5px;
    flex-flow: column nowrap;
    align-items: center;

    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.137);
    font-weight: bolder;
    text-align: justify;
    text-justify: inter-word;
    line-height: 2em;
}

.card1 p {
    max-width: 90%;
    text-align: justify;
    text-justify: inter-word;
}


.card1 img {
    border-radius: 25px;
    padding: 20px;
}

.card2 {
    display: flex;
    background-color: #fffaef;
    border-radius: 5px;
    flex-flow: column nowrap;
    align-items: center;

    max-width: 400px;
    padding: 20px;  
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    font-weight: bolder;
    
    text-align: justify;
    text-justify: inter-word;
    line-height: 2em;  
}


.card2 p {
    max-width: 90%;    
    
    text-align: justify;
    text-justify: inter-word;
}

.card2 img {
    padding: 20px;
    width: 320px;
    height: 320px;
    border-radius: 25px;
}

.card3 {
    display: flex;
    background-color: #fffaef;
    border-radius: 5px;
    flex-flow: column nowrap;
    align-items: center;

    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);    
    font-weight: bolder;
    
    line-height: 2em;
}


.card3 p {
    max-width: 90%;    
    
    text-align: justify;
    text-justify: inter-word;
}

.card3 img {
    border-radius: 25px;
    padding: 20px;
    width: 320px;
    height: 320px;    
}


.who {
    max-width: 100%;
    background-color: #fffaef;
    padding: 50px;
    color: #55230d;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;

    text-align: justify;
    line-height: 3em;
    font-size: larger;
}

.who_config {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 100px;
}


.who h2 {
    text-align: center;
}

.lista-who {
    background-color: #D2C3A0;
    padding: 30px;
    max-width: 100%;
    height: 400px;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.lista-who ul {
    max-width: 100%;
    margin: 0 auto;
}

.who h3 {
    text-align: center;
    max-width: 100%;
}

aside {
    margin-top: 0px;
    padding: 10px;
    background-color: #55230d;
    text-align: justify;
    line-height: 2em;
    font-size: larger;
    color: #fffaef;
    text-indent: 30px;
}

aside h3 {
    margin-left: 50px;
}

aside p {
    margin-left: 90px;
    margin-right: 90px;
}

footer {
    margin-top: 0px;
    background-color:#55230d;
    color: #fffaef;
    padding: 15px;
    text-align: center; 
}

footer p {
    text-decoration: none;
}


@media (max-width: 1445px) {
    .produtos {
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
    }
    
    .who_config {
        gap: 10px;
    }

    .lateral img {
        height: 800px;
    }
}

@media (max-width: 768px) {

    .who {
        max-width: 100%;
        margin: 0 auto;
        padding: 0px;
    }

    .lista-who {
        line-height: 2em;
        font-size: medium;
        max-width: 100%;
    }

    .produtos {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .card1 img {
        max-width: 250px;
        height: 250px;
    }

    .card2 img {
        max-width: 250px;
        height: 250px;
    }

    .card3 img {
        max-width: 250px;
        height: 250px;
    }

    aside {
        max-width: 100%;
        padding-top: 50px;
        margin-bottom: 20px;
    }

    aside p {
        max-width: 80%;
        font-size: normal;
        margin: 0 auto;
        line-height: 2em;
    }

    aside h3 {
        text-align: center;
        line-height: 2em;
        margin: 0 auto;
        text-indent: 2px;
    }
}