@charset "UTF-8";
/* CSS Document */
        body {
            color: #f8f6f6;
            background-color: #af7575;
            font-family: Arial, sans-serif;
            text-align: center;
            font-size: 1.2em;
        }
        h1 {
            color: #fff;
        }
        h2 {
            color: #3e5a5c;
        }
        p {
            color: #3a5c5c;
        }
